@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Varela Round';
    src: url('../fonts/VarelaRound-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Righteous Regular';
    src: url('../fonts/Righteous-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Varela Round', sans-serif;
    position: relative;
    min-height: 100vh;
    padding-bottom: 10em;
    /* background-image: linear-gradient(109.6deg, rgb(255, 239, 186) 11.2%, rgb(255, 193, 135) 91.1%); */
    /* background-color: #004588 */
    background-image: linear-gradient(109.6deg, rgb(0, 69, 136) 11.2%, rgb(116, 134, 153) 91.1%);
}

.form-control {
    box-shadow: none;
    font-weight: normal;
    font-size: 13px;
}

.navbar {
    background: #fff;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 0;
}

.nav-link img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: left;
    margin-right: 10px;
}

.navbar .navbar-brand {
    padding-left: 0;
    font-size: 20px;
    padding-right: 50px;
}

.navbar .navbar-brand b {
    color: #33cabb;
}

.navbar .form-inline {
    display: inline-block;
}

.navbar a {
    color: #888;
    /* font-size: 15px; */
    padding-left: 0.1em;
    padding-right: 0.1em;
}

.search-box {
    position: relative;
}

.search-box input {
    padding-right: 35px;
    border-color: #dfe3e8;
    border-radius: 4px !important;
    box-shadow: none
}

.search-box .input-group-text {
    min-width: 35px;
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    z-index: 9;
    padding: 7px;
    height: 100%;
}

.search-box i {
    color: #a0a5b1;
    font-size: 19px;
}

.navbar .sign-up-btn {
    min-width: 110px;
    max-height: 36px;
}

.navbar .dropdown-menu {
    color: #999;
    font-weight: normal;
    border-radius: 5px;
    border-color: #e5e5e5;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, .05); */
}

.navbar a {
    color: #ffffff;
    padding: 8px 20px;
    background: transparent;
    line-height: normal;
}

.navbar .navbar-form {
    border: none;
}

.navbar .action-form {
    width: 280px;
    padding: 20px;
    left: auto;
    right: 0;
    font-size: 14px;
}

.navbar .action-form a {
    color: #33cabb;
    padding: 0 !important;
    font-size: 14px;
}

.navbar .action-form .hint-text {
    text-align: center;
    margin-bottom: 15px;
    font-size: 13px;
}

.navbar .btn-primary,
.navbar .btn-primary:active {
    font-family: 'Righteous Regular', sans-serif;

    color: #fff;
    background: #33cabb !important;
    border: none;
}

.navbar .btn-danger,
.navbar .btn-danger:active {
    font-family: 'Righteous Regular', sans-serif;

}

.dropdown-menu .form-group {
    border-radius: 30px;
    margin-bottom: 10px;
}

.navbar .btn-success,
.navbar .btn-success:active {
    font-family: 'Righteous Regular', sans-serif;
    color: #fff;
    background: #108a00 !important;
    border: none;
}

.navbar .btn-primary:hover,
.navbar .btn-primary:focus {
    font-family: 'Righteous Regular', sans-serif;

    color: #fff;
    background: #31bfb1 !important;
}

.navbar .action-buttons .dropdown-toggle::after {
    display: none;
}

.form-check-label input {
    position: relative;
    top: 1px;
}

@media (min-width: 1200px) {
    .form-inline .input-group {
        width: 300px;
        margin-left: 30px;
    }
}

@media (max-width: 768px) {
    .navbar .dropdown-menu.action-form {
        width: 100%;
        padding: 10px 15px;
        background: transparent;
        border: none;
    }

    .navbar .form-inline {
        display: block;
    }

    .navbar .input-group {
        width: 100%;
    }
}

.movida {

    margin-right: 20px;
}

@media (min-width: 992px) {}

.card-header button {
    color: #007bff;
}

.card-header button:hover {
    text-decoration: none;
    color: #0069d9;
}

.list-group-item:hover {
    background-color: #f2f2f2;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.list-group,
.card {
    max-width: 100%;
    overflow-x: auto;
}

.table {
    display: block !important;
    overflow-x: auto !important;
    width: 100% !important;
}

#titulo {
    font-family: 'Righteous Regular', sans-serif;
    font-size: 1.1em;
}

.logo-imagen {
    max-width: 55px;
    max-height: 55px;
}

.btn-violet {
    background-color: rgb(53, 0, 139);
    border-color: rgb(255, 72, 0);
    color: white;
    font-size: 30px;
}

.btn-violet:hover {
    background-color: rgb(115, 66, 194);
    border-color: rgb(255, 72, 0);
    color: white;
}

@media screen and (max-width: 768px) {
    .navegacion {
        font-size: 1.1em;
        /* Tamaño de fuente para pantallas más pequeñas */
    }
}

@media screen and (max-width: 480px) {
    .navegacion {
        font-size: 1em;
        /* Tamaño de fuente para pantallas aún más pequeñas */
    }
}

.navegacion.active {
    padding: 0.5em 1em;
    border-radius: 5px;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.63);
}

#titulo {
    font-family: 'Righteous Regular', sans-serif;
    font-size: 1.1em;
}

@media screen and (max-width: 768px) {
    #titulo {
        font-size: 1em;
        /* Tamaño de fuente para pantallas más pequeñas */
    }
}

@media screen and (max-width: 480px) {
    #titulo {
        font-size: 0.9em;
        /* Tamaño de fuente para pantallas aún más pequeñas */
    }
}

.navbar-nav.text-light .seleccionado {
    color: #D59F4F;
    background-color: #ffffff25;
    border-color: #bb7e22;
    border: solid 1px;
    border-radius: 5px;
}


#logout-form .dropdown-item {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}

#logout-form .dropdown-item:first-child {
    margin-bottom: 5px;
}

#logout-form .btn {
    margin-top: 15px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.671);
    /* Ajusta el valor alpha para la opacidad deseada */
}

.navegacion {
    font-family: 'Righteous Regular', sans-serif;
    font-size: 1em;
    /* Ejemplo de tamaño de fuente inicial */
    font-weight: bold;
}
/* 
.contenedorMaestro {
    overflow: auto;
} */

.table-responsive {
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table thead th {
    background-color: #D59F4F;
    color: #553f1f;
    text-align: center;
    padding: 8px;
  }
  
  .table tbody td {
    padding: 8px;
    border-top: 1px solid #ddd;
  }

  h1 {
    font-weight: bold;
    color: #D59F4F;
  }

  @media (max-width: 767px) {
    .nav-item.dropdown.pr-2 {
      margin-bottom: 10px;
    }
  }